<div class=" col-md-3">
    <div class="speaker__list-item p-0 mb-30 ">
        <div class="speaker__list-thumb"><a href="/speaker-details-two/3"><img
                    src="{{ URL::asset('build/media/03.7d6f5423.jpg') }}" alt="image not found"></a></div>
        <div class="speaker__list-content-inner">
            <div class="speaker__list-content">
                <h5 class="speaker__author-title"><a href="/speaker-details-two/3">Bruce S. Smith</a></h5><span
                    class="speaker__author-info">Digital Marketer</span>
            </div>
            <div class="speaker__list-social"><a href="https://www.facebook.com/"><i
                        class="fa-brands fa-facebook"></i></a><a href="https://twitter.com/"><i
                        class="fa-brands fa-twitter"></i></a><a href="https://bd.linkedin.com/"><i
                        class="fa-brands fa-linkedin"></i></a><a href="https://www.youtube.com/"><i
                        class="fa-brands fa-youtube"></i></a></div>
        </div>
    </div>

</div>